*{
    background-color: black;
    color: rgb(11, 245, 11);
    font-family: cursive;
    
}
#main{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}
h1{
    margin-left:600px;
   
}
p{
    margin-left: 200px;
    font-size: 50px;    

}